@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: "Fira Sans", serif;
    box-sizing: border-box;
}

.glob {
    width: 1280px;
    margin: 0 auto;
}

.body-color {
    background-color: rgb(245, 245, 245)
}

/* nav bar style */

.nav-logo {
    width: 222px;
    height: 38px;
    gap: 0px;
    opacity: 0px;
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    margin-top: 31px;
    margin-bottom: 31px;

}

.nav-name,
.banner {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.Sign-btn {
    padding: 15px 30px 15px 30px;
    border: 1px solid rgba(0, 106, 80, 1);
    border-color: rgba(0, 106, 80, 1);
    border-radius: 8px;
    color: rgba(0, 106, 80, 1);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 24px;

}

/* Banner styles */
.banner {}

.banner-sec {
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    width: Fixed (1, 280px)px;
    height: Hug (560px)px;
    padding: 80px 100px 80px 100px;
    gap: 64px;
    margin-top: 20px;

}

.banner-des {
    width: Hug (622px)px;
    height: Hug (326px)px;
    gap: 24px;
    opacity: 0px;

}

.ban-sub-heading {
    width: 622px;
    height: 29px;
    gap: 0px;
    opacity: 0px;
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    color: rgba(14, 14, 14, 0.5);


}

.ban-heading {
    width: 622px;
    height: 201px;
    font-size: 50px;
    font-weight: 700;
    line-height: 67.2px;
    text-align: left;
    margin-top: 16px;

}

.banner-img {

    width: 474.03px;
    height: 400px;
    gap: 0px;
    opacity: 0px;


}

.ban-btn {
    width: Hug (270px)px;
    height: Hug (56px)px;
    padding: 17px 34px 17px 34px;
    gap: 48px;
    border-radius: 8px;
    opacity: 0px;
    background: rgba(0, 106, 80, 1);
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;
    border: none;
    margin-top: 24px;

}

/* Vision of Fututre section styles */
.vision-future {}

.v-head {
    margin-top: 80px;
}

.v-head p {
    margin-top: 24px
}

.v-heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: rgba(14, 14, 14, 1);
    ;
}

.v-heading p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.d-g-m {
    display: flex;
    width: Fill (1, 280px)px;
    height: Hug (325px)px;
    gap: 24px;
    opacity: 0px;
    margin-top: 32px;
}

.digital {
    background-color: rgba(84, 144, 245, 0.2);
    width: Fill (410.67px)px;
    height: Hug (325px)px;
    padding: 32px;
    gap: 24px;
    border-radius: 16px;
    opacity: 0px;
    border: 1px solid rgba(84, 144, 245, 1)
}

.green {
    background-color: rgba(198, 228, 214, 1);
    width: Fill (410.67px)px;
    height: Hug (325px)px;
    padding: 32px;
    gap: 24px;
    border-radius: 16px;
    opacity: 0px;
    border: 1px solid rgba(9, 161, 92, 1)
}

.modern {
    background-color: rgba(247, 235, 207, 1);
    width: Fill (410.67px)px;
    height: Hug (325px)px;
    padding: 32px;
    gap: 24px;
    border-radius: 16px;
    opacity: 0px;
    border: 1px solid rgba(255, 194, 57, 1)
}

.d-g-m img {
    margin-bottom: 24px;
    width: 64px;
    height: 64px;
    gap: 0px;
    opacity: 0px;

}

.d-g-m h3 {}

.d-g-m p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    width: 346.67px;
    margin-top: 12px
}

.d-g-m .digital button {
    width: Hug (122px)px;
    height: Hug (41px)px;
    padding: 11px 20px 11px 20px;
    gap: 48px;
    border-radius: 8px;
    opacity: 0px;
    background-color: rgba(84, 144, 245, 1);
    border: none;
    margin-top: 24px;


}

.d-g-m .green button {
    width: Hug (122px)px;
    height: Hug (41px)px;
    padding: 11px 20px 11px 20px;
    gap: 48px;
    border-radius: 8px;
    opacity: 0px;
    background-color: rgba(9, 161, 92, 1);
    border: none;
    margin-top: 48px;


}

.d-g-m .modern button {
    width: Hug (122px)px;
    height: Hug (41px)px;
    padding: 11px 20px 11px 20px;
    gap: 48px;
    border-radius: 8px;
    opacity: 0px;
    background-color: rgba(255, 194, 57, 1);

    border: none;
    margin-top: 24px;


}

#dr-Yunus {

    margin-top: 32px;
    width: Fill (1, 280px)px;
    height: Hug (256px)px;
    padding: 48px 24px 48px 24px;
    gap: 24px;
    border-radius: 16px;
    border: 1px;

}

.h-mar {
    margin-top: 12px;
    margin-bottom: 4px;
}

.yunus-qoute {
    background-image: url(../assests/quote-bg.png);
    background-repeat: no-repeat;
    background-color: white;
    background-position: top 20px left 24px;
}

/* news section styles */
.recent-news {}

.satellite-news-1,
.satellite-news-2 {
    display: flex;
    padding: 48px;
    background-color: white;
    margin-bottom: 24px;
    margin-top: 32px;
    width: Fill (1, 280px)px;
    height: Hug (402px)px;
    gap: 32px;
    border-radius: 24px
}

.news-img {
    width: 408px;
    height: 306px;
    gap: 0px;
    border-radius: 24px;
    opacity: 0px;

}

.img-margin {
    margin-top: 12px;
    margin-bottom: 12px;
}

.p-margin {
    margin-top: 12px;
    margin-bottom: 32px;
}

.news-h {
    margin-bottom: 24px;
}

.news-btn {
    width: Hug (139px)px;
    height: Hug (48px)px;
    padding: 13px 26px 13px 26px;
    gap: 48px;
    border-radius: 8px;
    opacity: 0px;
    background-color: rgba(0, 106, 80, 1);
    border: none;
    color: white;
}

.news-color {
    color: rgba(14, 14, 14, 0.7);
}

/* Donate section styles */
.donate {
    padding: 0 104px;
    align-items: center;
    text-align: center;
}

.donate-btn {
    width: Hug (243px)px;
    height: Hug (128px)px;
    padding: 40px;
    border-radius: 16px;
    border: 1px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color: white;
}

.btn-text {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;

}

.other-amount {
    text-align: center;
    margin: 0 auto;
    width: 1032px;
    padding: 20px 40px 20px 40px;
    outline: none;
    border: none;
    color: rgba(14, 14, 14, 0.3);

    border-bottom: 1px solid rgba(14, 14, 14, 0.15)
}

.btn-container {
    gap: 24px;
    margin-top: 32px;
}

.done-btn {
    width: 150px;
    height: 56px;
    padding: 17px 34px 17px 34px;
    gap: 48px;
    border-radius: 8px;
    border: 1px;
    background-color: rgba(0, 106, 80, 1);
    color: white;
    margin-bottom: 80px;




}

.btn-section {
    width: 1070px;
    display: flex;
    gap: 24px;
    margin: 0 auto;

}

.donate-margin {
    margin-bottom: 32px;
}

.do-mar-head {
    margin-bottom: 24px;
}

/* footer section styles */
.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    justify-content: space-evenly;
    width: 1600px;
    height: 226px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.foot-head {
    margin-bottom: 32px;
}

.foot-img {
    margin-top: 32px;
}

.hr-padding {
    width: 1122px;
    height: 0px;
    border: 1px 0px 0px 0px;
    border: 1px solid rgba(14, 14, 14, 0.1)
}